.Review_logo {
  font-family: "Style Script", cursive;
}

.Review_header {
  text-align: center;
  margin: 2rem 0;
}

.Review_footer_button {
  font-size: 0.9rem;
}
.Review_footer {
  text-align: center;
  margin-top: 2rem;
}
